logs
packages
bin/
obj/
/packages
*.bak
.vs
*.suo
BASE_MVC/bin/*
BASE_MVC/obj/*
BASE_MVC/BASE_MVC/bin/*
BASE_MVC/BASE_MVC/obj/*
BASE_MVC/packages/*
BASE_MVC/.vs/*
BASE_MVC/logs/*
WebCoreAPI/.vs/*
WebCoreAPI/WebCoreAPI/bin/*
WebCoreAPI/WebCoreAPI/obj/*
source_study/webSocket_Demo/web_socket_demo/bin/*
source_study/webSocket_Demo/web_socket_demo/obj/*
source_study/webSocket_Demo/ws_Client/bin/*
source_study/webSocket_Demo/ws_Client/obj/*
source_study/webSocket_Demo/ws_Server/bin/*
source_study/webSocket_Demo/ws_Server/obj/*
source_study/webSocket_Demo/.vs/*
*.log
source_study/camera-capture-csharp/Camera Record/obj/*
source_study/camera-capture-csharp/Camera Record/bin/*
source_study/camera-capture-csharp/packages/*
source_study/camera-capture-csharp/.vs/*
BASE_MVC/BASE_MVC/Web.config
BASE_MVC/BASE_MVC/Web.config
source_study/camera-capture-csharp/Tools/obj/Debug/net5.0/Tools.assets.cache
source_study/camera-capture-csharp/Tools/obj/*
source_study/camera-capture-csharp/Tools/bin/*

BASE_MVC/BASE_MVC/App_Data/*
BASE_MVC/BASE_MVC/Uploads/*
BASE_MVC/BASE_MVC/Properties/PublishProfiles/FolderProfile.pubxml.user