.home_header {
    padding-top: 10px;
    padding-left: 10px;
}

.container {
    min-width: 90%;
    max-width: 100%;
    padding: 10px 20px 50px 20px;
    color: black;
}

.select_block {
    display: inherit;
    width: 40%;
    border-radius: 5px;
    border: thin solid #d1d3e2;
}

.inputForm {
    width: 100%;
}

mark.red {
    color: red;
}

.form-group {
    display: flex;
    margin: 10px 20px;
}

.form_label {
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 7px;
    width: 23%;
}

.form_label-box {
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.check_customer {
    width: 65% !important;
    padding: 0.8em 3em 0.5em 0.5em;
}
    .check_customer .form-control {
        height: fit-content !important;
        width: fit-content !important;
    }

.useCheckbox {
    margin-block-start: 7px;
    margin-left: 35px;
}

.registerBtn {
    display: flex;
    justify-content: center;
}

#inputForm {
    margin: 30px;
}

#settingTable {
    text-align: center;
    width: 100%;
    margin-block-end: 20px;
}

.table thead th {
    background-color: #5e7585;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: auto;
    border-bottom: none !important;
    white-space: nowrap;
}
.table tbody td {   
    white-space: nowrap;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}

.addBlock {
    float: left;
    margin-left: 1px;
    width: 100%;
}

.delete_button {
    cursor: pointer;
    color: black;
}


@media (max-width: 768px) {
    .select_block {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .form-group {
        display: flex;
        margin: 10px 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }      
    .reggisterButton {
        display: contents;
    }
}
@media screen and (min-width: 768px) and (max-width: 1350px) {
    .form-group {
        display: flex;
        flex-wrap: wrap;
    }
    .select_block {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .form-group {
        display: flex;
        margin: 10px 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
        .form-group .form_label {
            width: 100%;
        }
    .wapper-input {
        width: 100% ;
    }
    .wapper-input .form-control, .wapper-input .input-group {
        width: 100%;
    }
    .label-check{
        width: 30% !important;
    }    
}
@media (min-width: 1400px) {
    .form-group .form_label {
        width: 17%;
    }
}

.add_button {
    line-height: 1rem;
}

.addForm {
    border: thin solid #d1d3e2;
    margin: 20px 0px;
}
